<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Thu May 12 02:28:31 COT 2016&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=profile&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=profile&#13;&#10;cached=false&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://www.eclipse.org/uml2/5.0.0/UML,http\://www.eclipse.org/uml2/5.0.0/UML/Profile/Standard&#13;&#10;modelUri=platform\:/resource/PerfilPortalEmpleo/model.profile.uml&#13;&#10;type=UML&#13;&#10;modelFile=/PerfilPortalEmpleo/model.profile.uml&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Thu May 12 02:29:40 COT 2016&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=UML&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=UML&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://www.eclipse.org/uml2/5.0.0/UML&#13;&#10;modelUri=platform\:/resource/Modelo_Entrada_UML/model.uml&#13;&#10;type=UML&#13;&#10;modelFile=/Modelo_Entrada_UML/model.uml&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Wed May 18 16:14:38 COT 2016&#13;&#10;isMetamodelFileBased=true&#13;&#10;name=frontend&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=frontend&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=platform\:/resource/Metamodelo%20Front/model/metamodeloFront.ecore&#13;&#10;metamodelUri=&#13;&#10;modelUri=platform\:/resource/ETL/modeloFrontEnd.xmi&#13;&#10;type=EMF&#13;&#10;modelFile=/ETL/modeloFrontEnd.xmi&#13;&#10;expand=true&#13;&#10;metamodelFile=/Metamodelo Front/model/metamodeloFront.ecore&#13;&#10;"/>
</listAttribute>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/ETL/M2M_FrontEnd.etl"/>
</launchConfiguration>
