<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mtcflow.project.launching.MTCLaunchConfiguration">
<stringAttribute key="FILE" value="/CadenaCobiw/mtcs/cobiw.mtc"/>
<stringAttribute key="FILES" value=""/>
<stringAttribute key="MODELS" value=""/>
<stringAttribute key="TAGS" value=""/>
<stringAttribute key="TRANSFORMATION" value=""/>
<stringAttribute key="VARIABLES" value=""/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
