<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
<booleanAttribute key="appendToFile" value="false"/>
<listAttribute key="defaultFormatters"/>
<booleanAttribute key="fine_grained_profiling" value="false"/>
<intAttribute key="generateTo" value="1"/>
<listAttribute key="models">
<listEntry value="#&#10;#Sun Nov 15 15:48:33 COT 2015&#10;isMetamodelFileBased=false&#10;name=cl&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=cl&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=Calendar&#10;modelUri=platform\:/resource/Blog2Calendar/models/Calendar.xmi&#10;type=EMF&#10;modelFile=/Blog2Calendar/models/Calendar.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
</listAttribute>
<stringAttribute key="outputFilePath" value=""/>
<booleanAttribute key="produceTrace" value="false"/>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/Blog2Calendar/transformations/M2T/genfile.egl"/>
<stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
<stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
