<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.uniandes.edu/automatizacion/sql_crud_generator/SqlCrudGenerator"
			class = "edu.uniandes.automatizacion.sql_crud_generator.sqlCrudGenerator.SqlCrudGeneratorPackage"
			genModel = "model/generated/SqlCrudGenerator.genmodel" />
	</extension>
</plugin>
