<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="#&#10;#Wed Nov 25 21:12:43 COT 2015&#10;isMetamodelFileBased=false&#10;name=jEE&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=jEE&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.example.org/jEE&#10;modelUri=platform\:/resource/html/modelos/JEE-exposicionCanina.xmi&#10;type=EMF&#10;modelFile=/html/modelos/JEE-exposicionCanina.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
<listEntry value="#&#10;#Wed Nov 25 21:01:26 COT 2015&#10;isMetamodelFileBased=false&#10;name=jv&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=jv&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.eclipse.org/MoDisco/kdm/code,http\://www.eclipse.org/MoDisco/kdm/source,http\://www.eclipse.org/MoDisco/kdm/action,http\://www.eclipse.org/MoDisco/kdm/kdm&#10;modelUri=platform\:/resource/html/modelos/n7_exposicionCanina_kdm.xmi&#10;type=EMF&#10;modelFile=/html/modelos/n7_exposicionCanina_kdm.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
</listAttribute>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/html/transformaciones/M2M/JEE.etl"/>
</launchConfiguration>
