<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
<booleanAttribute key="appendToFile" value="false"/>
<listAttribute key="defaultFormatters"/>
<booleanAttribute key="fine_grained_profiling" value="false"/>
<intAttribute key="generateTo" value="1"/>
<listAttribute key="models">
<listEntry value="#&#10;#Wed Nov 25 20:55:55 COT 2015&#10;isMetamodelFileBased=false&#10;name=h&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=h&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.example.org/html5&#10;modelUri=platform\:/resource/html/modelos/html_vehiculos.xmi&#10;type=EMF&#10;modelFile=/html/modelos/html_vehiculos.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
<listEntry value="#&#10;#Wed Nov 25 22:04:00 COT 2015&#10;isMetamodelFileBased=false&#10;name=JEE&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=JEE&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.example.org/jEE&#10;modelUri=platform\:/resource/html/modelos/JEE-vehiculos.xmi&#10;type=EMF&#10;modelFile=/html/modelos/JEE-vehiculos.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
</listAttribute>
<stringAttribute key="outputFilePath" value=""/>
<booleanAttribute key="produceTrace" value="false"/>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/html/transformaciones/M2T/Root.egl"/>
<stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
<stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
